.container {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--white);
    color: var(--dark-grey);
    border: 0.5px solid var(--light-grey);
    border-top: 0;
}
.result {
    display: block;
    width: 100%;
    background-color: inherit;
    border: 0;
    text-align: left;
    border-bottom: 0.5px solid var(--light-grey);
    height: 30px;
    font-size: 16px;
    padding: 8px;
    outline: none;
    cursor: pointer;
}
.result:last-child {
    border-bottom: 0;
}
.result:hover {
    background-color: var(--light-grey);
}