.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 20px;
  width: 300px;
}
.titleContainer {
  background-color: #A3D5FF;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-grey);
}